.App{
  min-height:100vh;
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

.App__container{
  padding: 20px;
  padding-top:70px; /*To remove HEADER space*/
  margin: 0 auto;
  max-width: 1000px;
  min-height: 100vh;
  display: flex;
}