.LoginPage {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.LoginPage__header {
  text-align: center;
  color: rgb(243, 240, 240);
}

.LoginPage__alreadyHaveMsg {
  color: rgb(243, 240, 240);
  margin-top: 10px;
  text-align: center;
}

.LoginPage__alreadyHaveMsg a {
  color: black;
}
