.DashboardPage {
  width: 100%;
}

.DashboardPage__heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2rem;
  color: rgb(238, 237, 237);
  margin-bottom: 10px;
}

.DashboardPage__heading svg {
  width: 1.7rem;
  height: 1.7rem;
  margin-right: 5px;
}

.DashboardPage__mainSections--item {
  background: rgba(250, 250, 250, 0.6);
  padding: 10px;
  border-radius: 5px;
  margin: 10px 5px;
}

.DashboardPage__mainSections__topBar {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -10px;
}

.DashboardPage__mainSections__topBar div {
  flex: 1;
}

.DashboardSmallInfo {
  text-align: center;
}

.DashboardSmallInfo--sites {
  color: rgb(61, 72, 224);
}

.DashboardSmallInfo--online {
  color: rgb(56, 165, 42);
}

.DashboardSmallInfo--offline {
  color: brown;
}

.DashboardSmallInfo__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.DashboardSmallInfo__title svg {
  margin-bottom: 1px;
  margin-right: 5px;
}

.DashboardSmallInfo__info {
  font-weight: bold;
  font-size: 3.5rem;
}
