/* Removing default color & underline in links */
.Header__Navbar a{
  color: inherit !important;
  text-decoration: none !important;
}

/* Customzing bluprint MainIcon in Nav */
.Header__Navbar__heading .bp3-icon{
color:rgb(24, 192, 141) !important;
}

/* Customzing blueprint buttons */
.Header__Navbar__heading .bp3-button{
color:rgb(24, 192, 141) !important;
font-size: 20px;
font-weight: bold !important;
}