.SignupPage{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.SignupPage__header{
  text-align: center;
}

.SignupPage__alreadyHaveMsg{
  color:white;
  margin-top:10px;
  text-align: center;
}

.SignupPage__alreadyHaveMsg a{
  color:black;
}