@import "~normalize.css/normalize.css";

/* CSS files for BluePrintJS UI framework.*/
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

@import "./animations.css";

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}
